@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@400;500;600;700&display=swap');

body,
html {
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
}

#main {
    margin: 0;
}