#header.fixed-top {
    background-color: transparent;
    padding: 42px 0;
    transition: all .2s ease;

    .container {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1.5fr;
    }


    @include breakpoint(untilTablet) {
        padding: 12px 0;

        .container {
            display: flex;
        }
    }


    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #434343 0%, rgba(217, 217, 217, 0) 100%);
        mix-blend-mode: multiply;
        opacity: 0.6;
        z-index: -1;
    }

}

.navbar-brand {
    margin-right: 0 !important;
}




.nav-link {
    color: white !important;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
}

html:not([data-scroll='0']) #header.fixed-top {
    padding: 16px;

    @include breakpoint(untilTablet) {
        top: 0;
        padding: 12px 0;
    }

    &::after {
        opacity: 1;
        background: linear-gradient(180deg, #323232 0%, rgba(217, 217, 217, 0) 100%);

    }
}

.navbar-brand {
    text-align: center;

    img {
        width: auto;
        height: 53px;
        padding: 0 20px;
    }

    @include breakpoint(untilTablet) {
        img {
            padding: 0;
        }
    }
}

.hamburger {
    height: 32px;
    width: 32px;
    display: none;

    img {
        filter: brightness(0) invert(1);
        height: 100%;
        width: 100%;
    }
}

#sidebar {
    background: linear-gradient(83.82deg, #B81C76 6.03%, #FE4B83 89.49%);

    .logo {
        margin-bottom: 2rem;

        img {
            width: 121px;
        }
    }

    .btn {
        color: white;
        position: absolute;
        right: 2rem;
        top: 1rem;
        width: 32px;
        height: 32px;

        img {
            width: 32px;
            height: 32px;
            filter: brightness(0) invert(1);
        }
    }

    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 1rem 0;
            font-size: 18px;
        }
    }
}

@include breakpoint(untilTablet) {
    .hamburger {
        display: block;
    }
}

#footer {
    position: relative;
    background-color: transparent;
    color: white;
    padding: 50px 0;
    padding-bottom: 43px;

    .logo {
        margin-bottom: 60px;

        img {
            width: 121px;
        }
    }

    .title {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.04em;
        margin-bottom: 23px;
    }

    .address {
        font-size: 14px;
    }

    .small {
        font-size: 12px;
        letter-spacing: 0.09em;
        margin-bottom: 20px;
    }

    .disclaimer {
        font-size: 10px;
        margin-top: 80px;
        margin-bottom: 17px;
        font-weight: 500;
    }

    .socials {
        display: flex;
        gap: 0 14px;

        img {
            width: 23px;
        }
    }

    .copyright {
        letter-spacing: 0.15em;
        font-weight: 500;
        font-size: 10px;
    }
}