$orange: #FB6645;
$grey: #333333;

/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point ==largeDesktop {
        @media (min-width: 1400px) {
            @content;
        }
    }

    @else if $point ==desktop {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $point ==laptop {
        @media (min-width: 992px) {
            @content;
        }
    }

    @else if $point ==untilLaptop {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $point ==untilTablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==tablet {
        @media (min-width: 768px) {
            @content;
        }
    }

    @else if $point ==mobileonly {
        @media (max-width: 576px) {
            @content;
        }
    }
}

.btn-outline-light {
    -webkit-appearance: none;
    -webkit-border-radius: 100px;
    border-color: white;
    background-color: transparent;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding: 10px 26px;
}

@include breakpoint(untilTablet) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        padding: 0 1.5rem;
    }
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}